body {
  margin: 0px;
  height: 200vh;
  font-family: sans-serif;
}

header {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b6060d;
  position: fixed;
  top: 0px;
  width: calc(100vw - 48px);
  min-height: 90px;
}

.title-section {
  background-image: url("./background-18.png");
  padding: 16px 0 0;
  margin-top: 122px;
  text-align: center;
  color: #df9f07;
}

.title-section > h1 {
  margin: 0px;
  font-weight: 500;
  font-size: 64px;
}

.title-section > h2 {
  margin: 0px;
  font-weight: 600;
  font-size: 24px;
}

.count-down {
  background-color: rgba(204, 204, 204, 0.18);
  color: #B6060D !important;
  padding: 16px;
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-down > div {
  margin: 0 32px;
}

.count-down h1, h4 {
  margin: 0px;
  font-weight: 500;
}

.site-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-down h1 {
  font-size: 32px;
}

.count-down h4 {
  font-weight: 500;
}

.count-down > .title > h1 {
  margin: 0;
  font-weight: 500;
}

header  a {
  color: #df9f07;
  text-decoration: none;
  text-transform: uppercase;
  margin: 8px;
  font-size: 24px;
}

.header-logo {
  position: relative;
  position: absolute;
  top: 16px;
}

header > img {
  object-fit: contain;
}